.schedule-container {
    background-image: url('../../assets/backgrounds/Schedule_Bg.png');
    z-index: 1;
}

#schedule-title {
    z-index: 5;
}

.schedule-temp {
    font-size: 4rem;
    background-color: #211f32;
    box-shadow: 10px 10px #e3cdff;
    display: inline-block;
    padding: 5%;
}

.timezone-disclaimer {
    background-color: #ffffff;
    padding: 7px;
    display: inline-block;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0 40px 0;
    box-shadow: 5px 5px #eed202;
}

.disclaimer-icon {
    padding-right: 5px;
    color: #eed202;
}

.schedule-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 50px;
}

.schedule-sub {
    font-size: 24px;
    margin: 5px 0;
}

.events-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    padding: 15px;
    background-color: #211f32;
    margin: 0 25px;
}

.events-wrapper:nth-child(1) {
    box-shadow: 20px 20px #b8daef;
}

.events-wrapper:nth-child(2) {
    box-shadow: 20px 20px #e3cdff;
}

.active-event,
.expired-event {
    font-size: 20px;
    text-align: start;
    padding: 4px 5px;

    transition: all 0.4s ease-in-out;
}

.expired-event {
    color: rgb(141, 141, 141);
    text-decoration: line-through;
}

.current-event {
    color: #F32013;
    background-color: #ffffff;
    font-weight: bolder;
    border-radius: 5px;
}

.schedule-disclaimer {
    font-size: 20px;
    font-weight: 900;
}

@media screen and (max-width: 798px) {
    .schedule-temp {
        font-size: 2.5rem;
    }
    .schedule-wrapper {
        flex-direction: column;
        align-items: center;
    }
    .events-wrapper {
        width: 100%;
        box-shadow: none !important;
    }
}