.contact-container {
    position: relative;
    top: 0;
    left: 0;
}

.bg-lg,
.bg-md,
.bg-sm,
.social-icon {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}

.bg-lg {
    display: block;
}

.bg-md {
    display: none;
}

.bg-sm {
    display: none;
}

.reddit-icon,
.twitter-icon,
.instagram-icon,
.facebook-icon,
.linkedin-icon {
    position: absolute;
    display: block;
    transition: all 0.3s ease-in-out;
    color: #ffffff;
}

.reddit-icon {
    top: 46%;
    left: 40.75%;
    font-size: 3.5vw;
}

.twitter-icon {
    top: 32%;
    left: 55.8%;
    font-size: 3.25vw;
}

.instagram-icon {
    top: 74%;
    left: 61%;
    font-size: 3vw;
}

.facebook-icon {
    top: 67%;
    left: 75%;
    font-size: 4vw;
}

.linkedin-icon {
    top: 85.5%;
    left: 36.85%;
    font-size: 3.25vw;
}

#contact-title {
    position: absolute;
    top: 0%;
    left: 33%;
    color: #ffffff;
    font-size: 3.5vw;
}

.contact-hashtag {
    top: 60%;
    left: 10%;
    width: 30%;
}

.contact-email {
    top: 40%;
    left: 60%;
    width: 25%;
}

.contact-hashtag,
.contact-email {
    position: absolute;
    background-color: #514e66;
    box-shadow: 10px 10px #ffffff;
    padding: 10px;
    color: #ffffff;
    font-size: 1.5vw;
}

.reddit-icon:hover,
.twitter-icon:hover,
.instagram-icon:hover,
.facebook-icon:hover,
.linkedin-icon:hover {
    transition: all 0.4s ease-in-out;
    transform: scale(1.25);
}

@media screen and (max-width: 976px) {
    .bg-lg {
        display: none;
    }
    .bg-md {
        display: block;
    }
    .reddit-icon {
        top: 52%;
        left: 34%;
        font-size: 4.75vw;
    }
    .twitter-icon {
        top: 39.5%;
        left: 54.5%;
        font-size: 4.5vw;
    }
    .instagram-icon {
        top: 76.5%;
        left: 61.5%;
        font-size: 4.5vw;
    }
    .facebook-icon {
        top: 71%;
        left: 80.5%;
        font-size: 5.5vw;
    }
    .linkedin-icon {
      top: 86.75%;
      left: 28.5%;
      font-size: 4.5vw;
    }
    #contact-title {
        position: absolute;
        top: -5%;
        left: 29%;
        color: #ffffff;
        font-size: 4.5vw;
    }
    .contact-hashtag {
        top: 65%;
        left: 10%;
        width: 35%;
    }
    .contact-email {
        top: 40%;
        left: 65%;
        width: 30%;
    }
    .contact-hashtag,
    .contact-email {
        font-size: 2vw;
    }
}

@media screen and (max-width: 500px) {
    .bg-md {
        display: none;
    }
    .bg-sm {
        display: block;
    } 
    .reddit-icon {
        top: 51.5%;
        left: 22%;
        font-size: 7vw;
    }
    .twitter-icon {
        top: 39.5%;
        left: 49.75%;
        font-size: 6.5vw;
    }
    .instagram-icon {
        top: 76.5%;
        left: 59.25%;
        font-size: 6vw;
    }
    .facebook-icon {
        top: 70.5%;
        left: 84.5%;
        font-size: 8vw;
    }
    .linkedin-icon {
      top: 87%;
      left: 15.25%;
      font-size: 6vw;
    }
    #contact-title {
        position: absolute;
        top: -5%;
        left: 20%;
        color: #ffffff;
        font-size: 7vw;
    }
    .contact-hashtag {
        position: absolute;
        top: 68%;
        left: 10%;
        width: 38%;
        color: #ffffff;
        font-size: 2.5vw;
    }
    .contact-email {
        position: absolute;
        top: 50%;
        left: 55%;
        width: 38%;
        color: #ffffff;
        font-size: 2.5vw;
        overflow-wrap: break-word;
    }
    .contact-hashtag,
    .contact-email {
        box-shadow: 5px 5px #ffffff;
        padding: 1%;
    }
}