.faq-container {
    background-image: url(../images/backgrounds/FAQ_Bg.png);

}

.faq-wrapper {
    margin: 15px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.faq-column {
    display: flex;
    flex-direction: column;
    width: 47%;
}

.faq {
    background-color: #ffffff;
    border-radius: 8px;
    color: #000000;
    width: 100%;
    padding: 15px 12px;
    margin: 5px 0;
    cursor: pointer;
}

.faq-question {
    position: relative;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;

    transition: all 0.2s ease; 
}

.faq.open .faq-question{
    margin-bottom: 10px;
    border-bottom: solid #FE4CEC 1px;
}

.faq-answer {
    opacity: 0;
    max-height: 0;
    overflow-y: hidden;
    text-align: left;
    font-size: 16px;

    transition: all 0.3s ease;
}

.faq-answer a {
    text-decoration: none;
    color: #FE4CEC;
}

.faq.open .faq-answer {
    max-height: 1000px;
    opacity: 1;
}

.faq-icon {
    color: #FE4CEC;
}

.faq-more {
    margin-bottom: 15px;
}

@media screen and (max-width: 1086px) {
    .faq-container {
        padding: 0;
    }
    
}

@media screen and (max-width: 798px) {
    .faq-wrapper {
        padding: 0;
        flex-direction: column;
        align-items: center;
    }
    .faq-column {
        width: 80%;
    }
}

@media screen and (max-width: 425px) {
    .faq-column {
        width: 100%;
    }
}