.schedule-container {
    background-image: url('../images/backgrounds/Schedule_Bg.png');
}

.schedule-disclaimer {
    background-color: #ffffff;
    padding: 7px;
    display: inline-block;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    border-radius: 7px;
    border-bottom: #eed202 solid 5px;
    border-right: #eed202 solid 5px;
    margin: 20px 0;
}

.disclaimer-icon {
    padding-right: 5px;
    color: #eed202;
}

.schedule-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 50px;
}

.schedule-sub {
    font-size: 24px;
    margin: 5px 0;
}

.events-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

.events-wrapper p {
    font-size: 20px;
    text-align: start;
    padding: 4px 5px;

    transition: all 0.4s ease-in-out;
}

.expired-event {
    color: rgb(141, 141, 141);
    text-decoration: line-through;
}

.current-event {
    color: #F32013;
    background-color: #ffffff;
    font-weight: bolder;
    border-radius: 5px;
}

@media screen and (max-width: 798px) {
    .schedule-wrapper {
        flex-direction: column;
        align-items: center;
    }
    .events-wrapper {
        width: 100%;
        margin-bottom: 25px;
    }
}