.register-container {
    /* background-image: url('../../assets/backgrounds/Register_Bg.png');
    background-position: 50%; */
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-sub {
    font-size: 24px;
    margin: 10px 0;
}

.code-of-conduct {
    cursor: pointer;
    text-decoration: none;
    color: #FE4CEC;
    font-weight: 900;
}

.register-wrapper {
    /* background-image: url('../../assets/icons/Register_Mascot.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; */
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    padding-bottom: 10vh;
}

.register-card {
    display: flex;
    width: 30%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.register-img {
    width: 100vw;
    height: 50vh;
    background-image: url('../../assets/icons/Register_Mascot.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.register-smoke {
    position: absolute;
    width: 100vw;
    top: 55%;
    transform: translateX(-2%);
}

.form-link {
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

#hack-button, #volunteer-button, #mentor-button {
    width: 50%;
    border-radius: 90px;
    margin-top: 10px;
}

@media screen and (max-width: 976px) {
    .register-wrapper {
        transform: none;
        /* background-image: url('../../assets/icons/Register_Mascot.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center; */
    }
    .register-card {
        width: 100%;
        padding-top: 0;
    }
    .register-img {
      display: none;
    }
    #hack-button, #volunteer-button, #mentor-button {
      max-width: 250px;
      border-radius: 90px;
  }
}
