.register-container {
    background-image: url('../../assets/backgrounds/Register_Bg.png');
    position: relative;
}

.register-sub {
    font-size: 24px;
    margin: 10px 0;
}

.code-of-conduct {
    cursor: pointer;
    text-decoration: none;
    color: #FE4CEC;
    font-weight: 900;
}

.register-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    margin-top: 60px;
}

.register-card {
    display: flex;
    width: 30%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.register-img {
    width: 100%;
    margin: 30px;
}

.register-smoke {
    position: absolute;
    width: 100vw;
    top: 55%;
    transform: translateX(-2%);
}

.form-link {
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

#volunteer-button, #mentor-button {
    pointer-events: none;
}

@media screen and (max-width: 976px) {
    .register-wrapper {
        transform: none;
    }
    .register-card {
        width: 35%;
        padding-top: 0;
    }
    .register-smoke {
        display: none;
    }
}

@media screen and (max-width: 567px) {
    .register-card {
        width: 100%;
    }
    .register-img {
        display: none;
    }
}