.contact-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0c2d49;
  height: 250px;
  position: relative;
}

.footer-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.social-wrapper {
  display: flex;
  flex-direction: row;
  padding: 0 30px;
  justify-content: center;
  border-right: 1px white solid;
}

.social-contact {
  color: white;
  font-size: 1.25vw;
  margin: 0 10px;
}

.email-contact {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 1vw;
  padding: 0 30px;
}

@media screen and (max-width: 1600px) {
  .social-contact {
    font-size: 24px;
  }
  .email-contact {
    font-size: 20px;
  }
}

@media screen and (max-width: 563px) {
  .social-wrapper {
    border: none;
  }
}