.general-style {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.section-container {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    color: #ffffff;
    text-align: center;
    padding: 0 10%;
    vertical-align: top;
}

.section-title {
    font-size: 48px;
    color: #ffffff;
    font-weight: 500;
    padding-top: 80px;
    font-family: 'Audiowide', cursive;
}

.general-button {
    border: none;
    width: 220px;
    height: 55px;
    border-radius: 50px;
    background: linear-gradient(45deg, rgba(96, 54, 214, 0.8), rgba(59, 94, 219, 0.5));
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 25px;
}

@media screen and (max-width: 976px) {
    .section-container {
        padding: 0 5%;
    }
}