.sponsors-container {
    background-image: url('../../assets/backgrounds/Blank_Bg.png');
    padding-bottom: 80px;
}

.sponsors-wrapper {
    background-color: rgba(63, 63, 63, 0.8);
    padding: 25px;
    border-radius: 25px;
    margin-top: 30px;
}

.sponsors-sub {
    font-size: 28px;
}

.golden-logo {
    width: 60%;
    margin: 10px 0;;
}

.sponsors {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.sponsor-logo {
    width: 30%;
    margin-top: 20px;
}

@media screen and (max-width: 796px) {
    .golden-logo {
        width: 70%;
    }
    .sponsor-logo {
        width: 40%;
    }
}

@media screen and (max-width: 500px) {
    .sponsors-sub {
        font-size: 20px;
    }
    .golden-logo{
        width: 100%;
    }
    .sponsor-logo {
        width: 45%;
    }
}