.sponsors-container {
    background-image: url('../../assets/backgrounds/Sponsors_Bg.png');
    padding-bottom: 80px;
}

.sponsors-wrapper {
    background-color: rgba(100, 100, 100, 0.8);
    padding: 25px;
    border-radius: 25px;
    margin-top: 30px;
}

.sponsors-sub {
    font-size: 28px;
}

.golden-logo {
    width: 60%;
    margin: 10px 0;
}

.sponsors-partners {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.partner-logo {
    width: 40%;
    margin-top: 20px;
    height: 40%;
}

.partner-logo-stacked {
    width: 30%;
    margin-top: 20px;
    height: 30%;
}

#sticker-mule-logo {
    width: 100%;
}

@media screen and (max-width: 796px) {
    .sponsors-wrapper {
        padding: 25px 0;
    }
    .golden-logo {
        width: 70%;
    }
    .partner-logo, .partner-logo-stacked {
        width: 45%;
        height: 45%;
    }
}

@media screen and (max-width: 500px) {
    .sponsors-sub {
        font-size: 20px;
    }
    .golden-logo{
        width: 100%;
    }
}